#image{
    position:absolute;
    margin-top:15px;
    display:inline-block;	
}

@font-face {
	font-family: "Bazar";
	src: url("fonts/Bazar.ttf");
}

body {
        
        text-align:center;  
	font-family:"Bazar";
        color:#FFFFFF;
       	background-image:url('bg.jpg');
}

* {
	margin:0;
	padding:0;
}

h1 {
	padding:10px;
/*	background:#9cf;*/
	padding-bottom:15px;
	margin-top:15px;
	text-align:center;
}


input {
	display:inline-block;
	margin-top:15px;
}

