@font-face {
	font-family: "Bazar";
	src: url("fonts/Bazar.ttf");
}

body {
        background-image:url('bg.jpg');
        background-repeat:repeat;
        background-attachment:fixed;
        text-align:center;  
	font-family:"Bazar";
        color:#F0F0F0;
}

* {
	margin:0;
	padding:0;
}

h1 {
	padding:10px;
	background:#9cf;
	padding-bottom:15px;
	margin-top:15px;
	text-align:center;
}

img {
	margin-top:15px;
	display:inline-block;
}

input {
	display:inline-block;
	margin-top:15px;
}



