<html>
  <head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<meta name="description" content="website description" />
		<meta name="keywords" content="HTML Javascript CSS JQuery Web Technology Website" />
    <title> COSMOS Pet Game </title>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
        <script src={{ url_for('static', filename='js/vendor/jmin.js') }}></script>
        <script src={{ url_for('static', filename='js/main.js') }}></script>
  </head>

  <body>
    <h1> Welcome to the COSMOS Pet Game! </h1>
    <p style="font-size: 125%"> Login
      <a href="/login">Here </a>
      <br>
      Register
      <a href="/register">Here </a>
    </p>

  </body>
</html>
