<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="description" content="website description" />
    <meta name="keywords" content="HTML Javascript CSS JQuery Web Technology Website" />
    <title>COSMOS</title>
    <link rel="stylesheet" type="text/css" href= "../static/css/style.css">
    <!--<script src={{ url_for('static', filename='js/vendor/jmin.js') }}></script>
    <script src={{ url_for('static', filename='js/main.js') }}></script> -->
    <script src="../static/js/jmin.js"></script>
    <!--<script type="text/javascript" src="../static/js/main.js"></script> -->
    <script src="main.js"></script>
    

  </head>

	<body>
	  
	  <h1>COSMOS</h1>
	  
	  <div id="menu">
	    <a href="/">Home</a>
	    <a href="/logout">Logout</a>
	  </div>
	  
	  <h2>Welcome Back!</h2>
          <h3>{{petname}} says Hi.</h3>
          <img id="catbug" src="../static/img/catbug.gif" alt="catbug" width="143" height="163">
          
          <br />
	  <br />

	  <form method = "POST">
	    <p>Health: {{healthvalue}} </p>
	    <p>Hunger: {{hungervalue}}  </p>
	    <p>Hygiene: {{hygienevalue}} </p>
	    <p>Happiness: {{happinessvalue}} </p>
	    <p>Rename: <input type="text" name="Rename" size="20"/> </p>
	    
	    <div class="PlayButtons">
	      <p> <input type="submit" name="Play" value="Rename"> </p>
	      <p> <input type="submit" name="Play" value="Medicine"> </p>
	      <p> <input type="submit" name="Play" value="Feed"> </p>
	      <p> <input type="submit" name="Play"  value="Clean"> </p>
	      <p> <input type="submit" name="Play" value="Play"> </p>
	    </div>
	  </form>

	  <br />
          <br />
          
	</body>
</html>




















