<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="description" content="website description" />
    <meta name="keywords" content="HTML Javascript CSS JQuery Web Technology Website" />
    <title>COSMOS</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
    <script src={{ url_for('static', filename='js/vendor/jmin.js') }}></script>
    <script src={{ url_for('static', filename='js/main.js') }}></script>
  </head>
	<body>
	  
	  <h1>COSMOS</h1>
	  
	  <div id="menu">
	    <a href="/">Home</a>
	    <a href="/logout">Logout</a>
	  </div>
	  
	  <h2>Welcome Back!</h2>
          <h3>{{petname}} says Hi.</h3>
          <img src=catbug.gif width="143" height="163"><br />
          <br />
          <br />

	  <p>health: {{healthvalue}} <button>Take Medicine</button></p>
	  <p>hunger: {{hungervalue}} <button>Feed</button></p>
	  <p>hygiene: {{hygienevalue}} <button>Clean</button></p>
	  <p>happiness: {{happinessvalue}} <button>Brush</button></p>
	  
	  <br />
          <br />
          
	</body>
</html>




















