<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
		<meta name="description" content="website description" />
		<meta name="keywords" content="HTML Javascript CSS JQuery Web Technology Website" />
		<title>COSMOS</title>
		<link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
        <script src={{ url_for('static', filename='js/vendor/jmin.js') }}></script>
        <script src={{ url_for('static', filename='js/main.js') }}></script>
	</head>
	<body>
				
				<h1>COSMOS</h1>
				
					<div id="menu">
						<a href="/">Home</a>
					{% if ("username" in session) or ('logged_in' in session)%}
						<a href="/logout">Logout</a>
					{% else %}
                        <a href="/register">Select A Username</a>
                    {% endif %}

				</div>
				
				<h2>Welcome Back</h2>
                <h3>{{petname}} says Hi.</h3>
                <img src=url('catbug.gif') width="143" height="163"><br />
                <br />
                <br />
	<p>
	<ul>
	<li>health: {{healthvalue}} <button>Take Medicine</button></li>
	<li>hunger: {{hungervalue}} <button>Feed</button></li>
	<li>cleanliness: {{cleanlinessvalue}} <button>Clean</button></li>
	<li>happiness: {{happinessvalue}} <button>Brush</button></li>
	</p>

		<br />
                <br />
                		
	</body>
</html>




















