<html>
  <head>
    <meta charset="utf-8" />
    <meta name="keywords" content="COSMOS Javascript HTML JQuery Python App Flask" />
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href={{ url_for('static', filename='css/style.css') }}>
    <script src={{ url_for('static', filename='js/vendor/jmin.js') }}></script>
        <script src={{ url_for('static', filename='js/main.js') }}></script>
  </head>
  <body>
    
    <a href="https://github.com/stuycs-softdev/proj3-6-COSMOS"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
		
    
    <h1>COSMOS</h1>
    
    <div id="menu">
      <a href="/">Home</a>
      {% if ("username" in session) or ('logged_in' in session)%}
      <a href="play">Your Pet</a>
      <a href="logout">Logout</a>
      {% else %}
      <a href="register">Select A Username</a>
      {% endif %}
    </div>
    
  </body>
</html>
